body {
    background-color: #1f1818;
  
}
p {
    padding-top: 30px;
    padding: 15px;
    padding-left: 75px;
    font-size: 15px;
}

h1.artistTitle {
    margin-top: 135px;
    margin-bottom: 0 !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    color: #1ED761;

}

div > div {
    padding: 10px;
    /* background-color: #1f1818; */
    align-items: center;
    margin: auto;
}

section {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);

}


