@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.like {
    display: inline-flex;
    cursor:pointer;
    align-items: center;
    position:relative;
    font-family: 'Raleway', sans-serif;
    margin: 0 !important;
}


span:hover {
    cursor: pointer;
}

span {
    display: flex;
    font-size: 50px;
    transform: scale(1, .8);
    margin-left: 420px;
    display:grid;

}