.like {
    display: flex;
    cursor:pointer;
    align-items: center;
    margin-left: 65px;
    position:relative
}

p {
    margin-right: 10px;
}

span:hover {
    cursor: pointer;
}

span {
    font-size: 30px;
}